@import url("nes.css/css/nes.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  border-image-repeat: stretch !important;
  font-family: "Press Start 2P", monospace !important;

  @media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    border-image-repeat: stretch !important;
  }

  @supports (-moz-appearance: meterbar) {
    border-image-repeat: stretch !important;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.nes-balloon.from-right.bg-blue-200::before,
.nes-balloon.from-right.bg-blue-200::after {
  background-color: rgb(191 219 254);
  border-bottom-color: rgb(191 219 254);
}

.nes-balloon.from-right:after {
  box-shadow: -4px 0, 4px 0, 4px 4px #bfdbfe, 0 4px, 8px 4px, 4px 8px, 8px 8px
}

.nes-balloon p,
.nes-ballong ul,
.nes-balloon ol {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.nes-balloon pre {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  overflow-x: scroll;
  width: 100%;
}

.nes-balloon code {
  font-size: 0.9rem;
  padding: 0.2rem 0.4rem;
}

.nes-balloon h1,
.nes-balloon h2,
.nes-balloon h3,
.nes-balloon h4,
.nes-balloon h5,
.nes-balloon h6 {
  font-weight: bold;
  margin: 1rem 0;
}

.nes-balloon a {
  color: rgb(32, 156, 238);
}

.nes-balloon a:hover {
  text-decoration: underline;
}

.nes-balloon hr {
  background-color: #222;
  height: 4px;
  margin: 16px 0;
  border: none;
}

.nes-balloon h1 {
  font-size: 2.5rem;
  color: rgb(32, 156, 238);
}

.nes-balloon h2 {
  font-size: 2rem;
  color: #333;
}

.nes-balloon h3 {
  font-size: 1.75rem;
  color: #444;
}

.nes-balloon h4 {
  font-size: 1.5rem;
  color: #555;
}

.nes-balloon h5 {
  font-size: 1.25rem;
  color: #666;
}

.nes-balloon h6 {
  font-size: 1rem;
  color: #777;
}

.nes-balloon li {
  margin-bottom: 1rem;
  list-style-type: square;
}

.nes-balloon li>ul {
  margin-left: 1rem;
}
